{
   #... define the class which should be used for caching
   'class' => undef,
   
   #... config settings for WebTek::Cache::Memcached
   'WebTek::Cache::Memcached' => {
      'servers' => [ '/tmp/memcached' ],
   },

   #... config settings for WebTek::Cache::Tokyo
   'WebTek::Cache::Tokyo' => {
      'host' => 'localhost',
      'port' => '1978',
   },

}