{
   #... define the default language
   'default-language' => 'en',

   #... define the default timezone
   'default-timezone' => 'CEST',

   #... define the charset
   'charset' => 'utf-8',
   
   #... define the session
   'session' => {
      'class' => 'WebTek::Session::DB',
      'expiry-time' => 60 * 60 * 5,
      'cookie-name' => 'session',
      'cookie-path' => '/' . app->name,
   },
   
   #... define content_type <=> format relation
   'format-for-content-type' => {
      'text/html' => 'html',
      'text/json' => 'json',
   },
   
   #... set file ignore pattern for WebTek::Loader
   'file-ignore-pattern' => '\.svn|CVS',
   
   #... define the static folder
   'static' => {
      'merge' => 1,
      'dir' => '/Users/max/Projects/WebTek2/static/Test',
      'href' => '/static/test',
   },
}