#... define the number-formats because the locale settings are very incomplete
{
   en => { thousands_sep => ',', decimal_point => '.' },
   de => { thousands_sep => '.', decimal_point => ',' },
   de_CH => { thousands_sep => "'", decimal_point => '.' },
   fr => { thousands_sep => ' ', decimal_point => ',' },
   it => { thousands_sep => '.', decimal_point => ',' },
   es => { thousands_sep => '.', decimal_point => ',' },
   pl => { thousands_sep => ' ', decimal_point => ',' },
}