{   
   #... define the http server
   'http' => {
      'host' => 'localhost',
      'port' => '8080',
   },
   
   #... define the comet server
   'comet' => {
      #... comunicates with the client (browser)
      'emitter' => {
         'host' => 'localhost',
         'port' => '8081',
      },
      #... collect events from webtek-app's
      'collector' => {
         'host' => 'localhost',
         'port' => '8082'
      },
   },
}