{
   #... define the default language
   default_language => 'en',

   #... define the default timezone
   default_timezone => 'CEST',

   #... define the charset
   charset => 'utf-8',
   
   #... define the session
   session => {
      class => 'WebTek::Session::DB',
      expiry_time => 60 * 60 * 5,
      cookie_name => 'session',
      cookie_path => '/' . app->name,
   },
   
   #... define content_type <=> format relation
   format_for_content_type => {
      'text/html' => 'html',
      'text/json' => 'json',
   },
   
   #... set file ignore pattern for WebTek::Loader
   file_ignore_pattern => '\.svn|CVS',
   
   #... define the static folder
   static => {
      merge => 1,
      dir => '<% staticdir %>/<% appname %>',
      href => '/static/<% appname_lower %>',
   },
}